{% load static %}
{% load i18n %}
<!DOCTYPE html>
<html>
  <head>
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block head_title %}{% endblock %}</title>
    <link rel="stylesheet" href="{% static 'accounts/auth.css' %}">
    <!-- <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/css/bootstrap.min.css" integrity="sha384-rbsA2VBKQhggwzxH7pPCaAqO46MgnOM80zW1RWuH61DGLwZJEdK2Kadq2F9CUG65" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.3/dist/js/bootstrap.min.js" integrity="sha384-cuYeSxntonz0PPNlHhBs68uyIAVpIIOZZ5JqeqvYYIcEL727kskC66kF92t6Xl2V" crossorigin="anonymous"></script> -->
    <script src="https://kit.fontawesome.com/aecb0a9d5d.js" crossorigin="anonymous"></script>
    <link rel="stylesheet" type="text/css" href="{% static 'bootstrap/css/bootstrap.css' %}">
    <script type="text/javascript" src="{% static 'bootstrap/js/bootstrap.js' %}"></script>
    {% block extra_head %}
    {% endblock %}
  </head>




  <body>
    <nav class="navbar navbar-expand-lg bg-body-tertiary">
      <div class="container-fluid">
        <a class="navbar-brand" href="{% url 'index' %}">Shoper</a>

        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarScroll" aria-controls="navbarScroll" aria-expanded="false" aria-label="Toggle navigation">
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarScroll">
          <ul class="navbar-nav me-auto my-2 my-lg-0 navbar-nav-scroll" style="--bs-scroll-height: 100px;">

            <li class="nav-item">
              <a class="nav-link" href="{% url 'basket' %}"><i class="fa-solid fa-cart-shopping"></i></a>
            </li>
            <!-- <li class="nav-item">


                {% if request.user.is_authenticated %}
                    <a class="nav-link" href="/social/connections/"><i class="fa-solid fa-circle-user"></i></a>
                {% else %}
                    <a class="nav-link" href="../../../../../../../../../../../../../../../../../login/"><i class="fa-regular fa-circle" style="color: #000000;"></i></a>
                {% endif %}

            </li> -->
            <!-- <li class="nav-item">
              <a class="nav-link" href="[../../../../../../../../../../../../../../../admin"><i class="fa-solid fa-pen"></i></a>
            </li>             -->

        </ul>
		<div class="d-flex" role="search">
            <input class="form-control me-2" type="search" placeholder="Пошук" aria-label="Search"  id="searchInput">
            <button onclick="performSearch()" id="submitButton" class="btn btn-outline-success">Пошук</button>
		</div>





			
			










        </div>
      </div>
    </nav>


	




	<nav class="navbar bg-body-tertiary ">
		<div class="container-fluid">
			<a class="navbar-brand" href="#"></a>
			<button class="navbar-toggler" type="button" data-bs-toggle="offcanvas" data-bs-target="#offcanvasNavbar" aria-controls="offcanvasNavbar" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="offcanvas offcanvas-end" tabindex="-1" id="offcanvasNavbar" aria-labelledby="offcanvasNavbarLabel">
				<div class="offcanvas-header">
					{% if request.user.is_authenticated %}
						<h5 class="offcanvas-title" id="offcanvasNavbarLabel">User Menu {{ request.user.username }} {{ request.user.email }}</h5>
						
					{% else %}
					<p>User Menu</p><a href="/../../../../../../../login/"><p>Please log in to continue.</p></a>
					{% endif %}

					
					<button type="button" class="btn-close" data-bs-dismiss="offcanvas" aria-label="Close"></button>
				</div>
				<div class="offcanvas-body">
					<ul class="navbar-nav justify-content-end flex-grow-1 pe-3">
						<li class="nav-item">
							{% if user.is_authenticated %}
							<a class="nav-link active" aria-current="page" href="../../../../../../../../../../../../../../../../../social/connections/">settings </a>
							{% else %}
								<p></p>
							{% endif %}
							
						</li>
						<li class="nav-item">
							{% if user.is_authenticated  %}

								<a class="nav-link" href="../../../../../../user_menu/">menu</a>
							{% endif %}
							
							
						</li>
						
					</ul>
				</div>
			</div>
		</div>
	</nav>
	








	<script>
		function performSearch() {
			var d = document.getElementById("searchInput").value;
			var h = window.location.hostname;
			var p = window.location.protocol;
			var po = window.location.port;
			var u = p + "//" + h + ":" + po + "/search/" + d;
			
			// Check if the browser supports the URL API
			if ("URL" in window) {
				// Check if the search URL is a valid URL
				if (u.startsWith("http://") || u.startsWith("https://")) {
					// Use the URL API for modern browsers
					var url = new URL(u);
					window.location.assign(url.href);
				} else {
					// Fallback for invalid URLs
					window.location(u);
				}
			} else {
				// Fallback for browsers that do not support the URL API
				window.location.assign(u);
			}
		}
	</script>
  



    {% block body %}

    {% if messages %}
    <div>
      <strong>{% trans "Messages:" %}</strong>
      <ul>
        {% for message in messages %}
        <li>{{message}}</li>
        {% endfor %}
      </ul>
    </div>
    {% endif %}


    <div class="card" style="width: 18rem;">
      <strong>{% trans "Menu:" %}</strong>
      <ul class="list-group list-group-flush">
        {% if user.is_authenticated %}
        <li><a class="list-group-item" href="{% url 'account_email' %}">{% trans "Change E-mail" %}</a></li>
        <li><a class="list-group-item" href="{% url 'password_change' %}">{% trans "Change Password" %}</a></li>
        <li><a class="list-group-item" href="{% url 'account_logout' %}">{% trans "Sign Out" %}</a></li>

        {% else %}
        <li><a class="list-group-item" href="{% url 'account_login' %}">{% trans "Sign In" %}</a></li>
        <li><a class="list-group-item" href="{% url 'account_signup' %}">{% trans "Sign Up" %}</a></li>
        {% endif %}
      </ul>
    </div>
    {% block content %}
    {% endblock %}
    {% endblock %}
    {% block extra_body %}
    {% endblock %}
  </body>
</html>
